:root {
    --blue: #2874f0;
   
  }
*{
    margin: 0;
    padding: 0;
}
main{
    background-color: #f0f0f0;
}
nav{
    height: 55px;
    background-color: var(--blue);;
    display: flex;
    align-items: center;
}
.flipkart_navbar_logo{
height: 20px;
margin-left: 200px;
}
.search_bar{
    width: 500px;
    height: 10px;
    padding: 10px;
    padding-right: 40px;
   margin-left: 15px;
}
.search_icon{
    height: 33px;
    background-color: white;
    border-radius: 2px;
}
#search:hover, .cart,.login_button{
cursor: pointer;
}

.login_button{
    background-color: white;
    color: var(--blue);
    padding: 8px;
    width: 112px;
    margin-left: 200px;    
    border-radius: 2px;
    font-weight: bold;
}
.more{
    color: white;
    margin-left :30px;
    font-weight: bold;
}
.cart{
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
}
.carts{
    color: white;
    font-weight: bold;
    margin-left: 5px;
}
.container1{
    height: 15vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
   padding-left: 20px;
 
    width: 98.59%;
    box-shadow: 1px 1px rgb(3, 3, 3,0.2);
}
.container1_items{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 5px;
}
.container2{
    display: flex;
    flex-direction: column;
    
}
#slider figure img{
    height: 35vh;
    margin: 10px 0px 10px 11px;
    
}
