:root {
    --blue: #2874f0;
   
  }
*{
    margin: 0;
    padding: 0;
}
main{
    background-color: #f0f0f0;
}
nav{
    height: 8vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
}
.flipkart_navbar_logo{
height: 20px;
margin-left: 15vw;
}
.search_bar{
    width: 500px;
    height: 10px;
    padding: 10px;
    padding-right: 40px;
   margin-left: 15px;
}
.search_icon{
    height: 33px;
    background-color: white;
    border-radius: 2px;
}
#search:hover, .cart,.login_button{
cursor: pointer;
}

.login_button{
    background-color: white;
    color: var(--blue);
    padding: 8px;
    width: 112px;
    margin-left: 200px;    
    border-radius: 2px;
    font-weight: bold;
}
.more{
    color: white;
    margin-left :30px;
    font-weight: bold;
}
.cart{
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
}
.carts{
    color: white;
    font-weight: bold;
    margin-left: 5px;
}
.container1{
    height: 15vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
   padding-left: 20px;
 
    width: 98.59%;
    box-shadow: 1px 1px rgb(3, 3, 3,0.2);
}
.container1_items{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 5px;
}
.container2{
    display: flex;
    flex-direction: column;
    
}
#slider figure img{
    height: 35vh;
    margin: 10px 0px 10px 11px;
    width: 100%;
    
}
.second{
    height: 30vh;
    background-image: url(/images/second_image.jpg);
    background-size: contain;
}
footer{
    background-color: var(--blue);
}

footer p{    
    height: 10vh;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-weight: bold;
  
}
@media screen and (max-width : 400px) {
    nav{
        flex-direction: column;
        width: 100%;
        height: 14vh;
    }
    .flipkart_navbar_logo{
       height: 22px;
       margin: auto;
       padding: 5px;
   }
   .search_icon{
    height: 24px;
    background-color: white;
    border-radius: 2px;
    margin-right: -75vw;
    margin-top: -3.7vh;
     }
    .search_bar{
        width: 60vw;
        height: 1px;
        margin-left:-26px;
        
    }
    .login_button{
        background-color: white;
        color: var(--blue);
        padding: 8px;
        width: 64px;
        margin-left: 208px;
        border-radius: 2px;
        font-weight: bold;
    }
    .more{
        color: white;
        margin-left: -212px;
        margin-top: -28px;
        font-weight: bold;
    }
    .cart{
        height: 33px;
    border-radius: 50%;
    margin-left: -18px;
    margin-top: -23px;
    }
    .carts{
        display: none;
    }
    .container1{
        overflow: scroll;
    }
    body{
        background-color: black;
    }
}
    

